# Python / Virtualenv
venv/
.venv/
env/
ENV/
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.ipynb_checkpoints
.DS_Store

# Datenbanken
*.db
*.sqlite
*.sqlite3
/data/**

# ML-Modelle / Checkpoints
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.onnx
/models/**
*.pkl
*.joblib
*.tar
*.keras

# Model-Ordner & Logs
/models/**
/darts_logs/**

# Optional: nur Ordner behalten
!data/.gitkeep
!models/.gitkeep