# Datenbanken
*.db
*.sqlite
*.sqlite3
/data/**

# ML-Modelle / Checkpoints
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.onnx
/models/**
*.pkl
*.joblib
+.tar
*.keras

# Optional: nur Ordner behalten
!data/.gitkeep
!models/.gitkeep